*{
    padding: 0;
    margin: 0;
}

body{ 
    background-color: #F6F6F6;
}

.mainContainer{
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.nameCon{
    width: 70%;
    height: auto;
    padding: 2px;
    /* background-color: #d1d1d1; */
    text-align: center;
    margin-bottom: 10px;
}
.dataCon{
    width: 70%;
    height: auto;
    /* background-color: #d1d1d1; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin-bottom: 10px;
}
.chefName{
    width: auto;
    height: auto;
    padding: 2px;
    /* background-color: #d1d1d1; */
    text-align: center;
}
.recipedetailsCon{
    width: auto;
    height: auto;
    padding: 2px;
    /* background-color: #d1d1d1; */
    text-align: center;
}
.videoLink{
    width: 70%;
    height: 200px;
    /* padding: 2px; */
    background-color: #e1e1e1;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
}
.ingredientsCon{
    width: 70%;
    height: auto;
    /* padding: 2px; */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e1e1e1;
    text-align: center;
    /* padding-left: 5px; */
    margin-bottom: 10px;
    border-radius: 7px;
}
.ingredientsList{
    width: 100%;
    height: 50px;
    /* padding: 2px; */
    background-color: #d0d0d0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 6px;
}
.specialnotesCon{
    width: 70%;
    height: auto;
    /* padding: 2px; */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e1e1e1;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
}
.specialnotes{
    width: 100%;
    height: 50px;
    /* padding: 2px; */
    background-color: #d0d0d0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 6px;
}
.recipestepsCon{
    width: 70%;
    height: auto;
    /* padding: 2px; */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e1e1e1;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;

}
.recipesteps{
    width: 100%;
    height: 50px;
    /* padding: 2px; */
    background-color: #d0d0d0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
}
.reciperatingCon{
    width: 70%;
    height: auto;
    /* padding: 2px; */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #d0d0d0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
}
.feedbackCon{
    width: 70%;
    height: auto;
    /* padding: 2px; */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e1e1e1;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
}
.feedbacks{
    width: 100%;
    height: 50px;
    /* padding: 2px; */
    background-color: #d1d1d1;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 7px;
}
.feedbackInput{
    width: 100%;
    height: 50px;
    /* padding: 2px; */
    background-color: #d1d1d1;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
}

