/* Main container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4eabc;
  }
  
  /* Form container */
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  /* Input fields */
  .form-input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;
  }
  
  /* Submit button */
  .submit-btn {
    background-color: #ff8811;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Sign up link */
  .signup-link {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Error message */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  